header {
    /* background-color: white; */
    box-shadow: 0 0 4px #b4b4b4;
}

.header{
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 90px;
}

#logo{
    margin-left: 200px;
    display: flex;
    align-items: center;
}

#logo img{
    width: 42px;
    height: 42px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 100px; */
    /* padding-left: 100px; */
}

.navbar{
    /* margin-left: 100px; */
}

.right{
    margin-right: 100px;
    display: flex;
}

.icons{
    display: flex;
    align-items: center;
    gap: 30px;
}

ul{
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-decoration: none; 
    gap: 40px; 
}

.navbar a{
    text-decoration: none;
    color: #b9b9b9de;
    font-size: 18px;
    padding-bottom: 3px;
}

.navbar a:hover{
    border-bottom: 1px solid #00b100;
}

li{
    padding: 15px;
}

